*{
      margin: 0;
      padding: 0;
}
body{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 50vh;
      background-image: url(https://www.nhm.ac.uk/content/dam/nhm-www/discover/what-is-space/what-is-space-milky-way-full-width.jpg.thumb.1920.1920.png);
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-position: center;
}
header{
      margin: 1vw;
      padding: 1vw;
      background-color: antiquewhite;
      box-shadow: 4px 4px 2px rgb(0, 141, 163);
      border-radius: 2vw;
      width: 21vw;
}
main{
      margin: 1vw;
      padding: 1vw;
      background-color: aliceblue;
      border-radius: 1vw;
      box-shadow: 4px 4px 2px rgb(0, 141, 163);
      width:auto;
      display: flex;
      flex-direction: column;
      gap:2vh;
}
#task_name{
      padding: 0.5vw;
      border-radius: 0.1vw;
}
.author{
      position: relative;
      left:10vw;
}
#task-adder{
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap:3vw;
}
.task{
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap:3vw;
}
#task-lists{
      width:25vw;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap:1vw;
}